In [1]:
# Load a dataset (e.g., Iris dataset) using Python's Pandas library and display the first few rows..

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Iris.csv')

In [4]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df['variety'] = pd.Categorical(df['variety'])

In [7]:
print("\nData types of each column:")
df.dtypes

Data types of each column:

sepal.length     float64
sepal.width      float64
petal.length     float64
petal.width      float64
variety         category
dtype: object