In [9]:
# Split the dataset into training and testing sets (80% training, 20% testing)..

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [11]:
df = pd.read_csv('Iris.csv')

In [12]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [13]:
le = LabelEncoder()
df['variety'] = le.fit_transform(df['variety'])

In [14]:
scaler = StandardScaler()
numerical_features = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [15]:
X = df.drop('variety', axis = 1)
y = df['variety']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [16]:
print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (120, 4)
Testing data shape: (30, 4)