In [11]:
# Preprocess the dataset by handling missing values, converting categorical variables, and scaling numerical features..

In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [13]:
df = pd.read_csv('Iris.csv')

In [14]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [15]:
le = LabelEncoder()
df['variety'] = le.fit_transform(df['variety'])

In [16]:
scaler = StandardScaler()
numerical_features = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [17]:
print("Preprocessed dataset:")
df.head()

Preprocessed dataset:

   sepal.length  sepal.width  petal.length  petal.width  variety
0     -0.900681     1.019004     -1.340227    -1.315444        0
1     -1.143017    -0.131979     -1.340227    -1.315444        0
2     -1.385353     0.328414     -1.397064    -1.315444        0
3     -1.506521     0.098217     -1.283389    -1.315444        0
4     -1.021849     1.249201     -1.340227    -1.315444        0